<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="../bootstrap-5.3.0-dist/css/bootstrap.css">
        <link rel="stylesheet" href="../styles/create_post_view.css">

        <title>Submit to Convo</title>
    </head>
    <body>
        <header>
            <a href="/">
                <img id="logo" alt="Convo Logo" src="../../images/ConvoLogo2.png">
            </a>
            <div id="div-for-layout"></div>
            <div>
                <a id="link-register" href="/signup">Register</a>
                <span>or</span>
                <button class="btn btn-primary" id="login-btn" onclick="window.location.href='/login';">Login</button>
            </div>
        </header>
        {{{ body }}}
    </body>
</html>