<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../bootstrap-5.3.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/post-view.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Function to update the textarea height based on the content
            function updateTextAreaSize() {
            const textarea = $("#comment-area")[0];
            textarea.style.height = "auto"; // Reset the height to allow auto resizing
            textarea.style.height = textarea.scrollHeight + "px"; // Set the new height based on content
            }

            // Call the function when the page loads and when the user types in the textarea
            $("#comment-area").on("input", updateTextAreaSize);
        });
    </script>

    <title>{{ title }}</title>
</head>
<body>
    <header>
        <a href="/">
            <img id="logo" alt="Convo Logo" src="../../images/ConvoLogo2.png">
        </a>
        <div id="div-for-layout"></div>
        <form id="search-form" method="post">
            <input type="text" name="search" id="search" placeholder="Search for post...">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="#f2f3cc" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </form>
        <div>
            <a id="link-register" href="/signup">Register</a>
            <span>or</span>
            <button class="btn btn-primary" id="login-btn" onclick="window.location.href='/login';">Login</button>
        </div>
    </header>
    {{{ body }}}
</body>
</html>