<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="../bootstrap-5.3.0-dist/css/bootstrap.css">
        <link rel="stylesheet" href="../styles/profile.css">

        <title>{{ username }}'s Profile</title>
    </head>
    <body>
        <header>
            <a href="/">
                <img id="logo" src="../images/ConvoLogo2.png">
            </a>
            <div id="div-for-layout"></div>

            <form id="search-form" method="post">
                <input type="text" name="search" id="search" placeholder="Search for post...">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="#f2f3cc" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </form>
            <div>
                <a id="link-register" href="/signup">Register</a>
                <span>or</span>
                <button class="btn btn-primary" id="login-btn" onclick="window.location.href='/login';">Login</button>
            </div>
        </header>
        <div id="profile-subheader">
            <div id="profile-subheader-buttons">
                <span class="sh-button">OVERVIEW</span>
                <span class="sh-button">POSTS</span>
                <span class="sh-button">COMMENTS</span>
                <span class="sh-button">HISTORY</span>
                <span class="sh-button">SAVED</span>
                <span class="sh-button">HIDDEN</span>
                <span class="sh-button">UPVOTED</span>
                <span class="sh-button">DOWNVOTED</span>
                <span class="sh-button">AWARDS RECEIVED</span>
                <span class="sh-button">AWARDS GIVEN</span>
            </div>
        </div>
        {{{ body }}}
    </body>
</html>