<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="../bootstrap-5.3.0-dist/css/bootstrap.css">
        <link rel="stylesheet" href="../styles/profile.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <title>{{ username }}'s Profile</title>
    </head>
    <body>
        {{> header}}
        {{{ body }}}
    </body>
</html>