<div id="home-main-cont">
    <div id="left-main-cont">
        <div id="posts-main-cont">
            <h3>About Page</h3>
            <p>NodeJS Packages</p>
            <ol>
                {{#each packages}}
                <li>{{this}}</li>
                {{/each}}
            </ol>
        </div>

    </div>

    <div id="right-main-cont">
        <div id="trending-topics-cont">
            <div class="topic-title">
                <h4>Development Team</h4>
            </div>
            PUA, Kendrick Mikhael <br>
            UY, Tyrone Angelo <br>
            YAP, Carl Gabriel
        </div>
    </div>
</div>