@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');

:root {
    --clr-text: #1e101d;
    --clr-surface: #f0f0f0;
    --clr-primary: #aab069;
    --clr-secondary: #747c38;
    --clr-accent1: #005b4b;
    --clr-accent2: #f2f3cc;

    --ff-base: 'Open Sans', sans-serif;
    --ff-accent: 'Rubik', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: var(--ff-base);
    color: var(--clr-text);
    line-height: 1.6;

    background: var(--clr-surface);
}

a, a:link , a:visited {
    color: var(--clr-secondary);
    text-decoration: none;
}

.wrapper {
    width: min(100% - 3rem, 65ch);
    margin-inline: auto;
}

.flow > * + * {
    margin-top: 1em;
}

.button {
    font-family: var(--ff-accent);
    border: 1px solid var(--clr-secondary);
    background-color: var(--clr-primary);
    color: var(--clr-text);
}

header {
    position: sticky;
    top: 0;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    background-color: var(--clr-primary);
    border-bottom: 3px solid var(--clr-secondary);

    min-width: 1300px;
    min-height: 65px;
}

img#logo {
    position: absolute;
    left: -5px;
    bottom: -38px;
    height: 140px;
    width: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.sh-button {
    padding: 15px 15px 4px 15px; 
    font-weight: bold;
}

.sh-button:hover {
    border-style: solid;
    border-bottom-color:#1e101d;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

#profile-body {
    display: flex;
    justify-content: space-between;
    margin: 1% 2% 0% 2%;
}

#hotbar {
    border-radius: 1%;
    background-color: var(--clr-primary);

    padding: 1em 44em 1em 1.5em;
    margin-bottom: 10px;
    border-radius: .5em;

    border-style: solid;
    border-color: var(--clr-secondary);

    overflow:hidden;

    resize:none;

    min-width: 1100px;
}

.hotbar-button {
    font-weight: bold;
    background-color: var(--clr-primary);
    margin-right: 10px;

    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
}

.hotbar-button:hover {
    background-color: #b4bc5cce;
}

.hotbar-button-logo {
    width: 7%;
    height: 7%;
    border-radius: 50%;
}

#profile-body-left {
    margin-left: 22em;
    margin-right:2%;
    font-weight: bold;
    min-width: 700px;
    max-width: 700px;
}

button#login-btn {
    color: var(--clr-accent2);
    background-color: var(--clr-accent1);
    font-family: var(--ff-base);
    font-size: 16px;
}

a#link-register {
    color: var(--clr-text);
    font-family: var(--ff-base);
    font-size: 16px;
}


#content-container {
    margin-top: 5px;
    background-color: var(--clr-primary);

    margin-bottom: 10px;
    border-radius: .2em;

    overflow:hidden;

    resize:none;

    min-height: 400px;

    border-style: solid;
    border-color: var(--clr-secondary);
}

.content-post {
    padding-top: 5px;
    background-color:#aab069;    
    display:flex;
    border-radius: .2em;

}

.content-post:hover {
    border-style: solid;
    border-color: var(--clr-secondary);
    border-radius: 0em;
}

.vote {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.post-image {
    margin-left: 10px;
    margin-bottom: 8px;
    margin-top: 6px;
    width: 100px;
    height: 70px;
    border-radius: .2em;
}

.post-text {
    display: flex;
    flex-direction: column;
}

.post-title {
    margin-top: 5px;
    font-weight: bold;
}

.post-text-bottom-row {
    display: flex;
    font-size: 12px;

}

.post-source {
    font-weight: bold;
}

.post-bottom-buttons {
    font-size: 12px;
    margin-top: 8px;
    font-weight: bold;
}

#profile-box {
    margin: 0px;
    margin-right: 400px;
    min-width: 290px;
    max-width: 290px;
    min-height: 200px;
    max-height: 200px;

    border-style: solid;
    border-color: var(--clr-secondary);
    border-radius: .5em;
    border-width: 3px;

    display:flex;
    flex-direction: column;

    background: var(--clr-primary);
}

#trophy-box {
    margin-top: 10px;
    margin-right: 50px;
    min-width: 290px;
    max-width: 290px;
    min-height: 100px;

    padding-top: 3px;
    padding-left: 8px;

    border-style: solid;
    border-radius: .5em;
    background-color: var(--clr-primary);
    border-color: var(--clr-secondary);

    display:flex;
    flex-direction: column;
}

#trophy-box {
    margin: 10px 0px 0px 0px;
    font-weight: bold;
}

#user-profile {
    margin: 0px;
    padding: 0px;
}

#pbr-top-background {
    background-color: var(--clr-primary);
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    padding-right: 150px; 

    margin: 0px;
    min-width: 285px;
    max-width: 287px;
    min-height: 100px;
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#user-photo {
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    border-color: #1e101d;
    border-style: solid;
    border-width: 3px;
}

#username {
    font-weight: bold;
    font-size: 20px;
}

#user-tag {
    font-size: 13px;
}

#change-pic {
    background-color: antiquewhite;
    border-radius: 1em;
    padding-right: 2em;
    padding-left: 2em;
    margin-top: 2px;
    margin-bottom: 5px;

    font-weight: bold;
}

#change-pic:hover {
    background-color: rgba(250, 235, 215, 0.836);
}

#new-post {
    background-color: antiquewhite;
    border-radius: 1em;
    padding-right: 5em;
    padding-left: 5em;
    margin-top: 2px;
    margin-bottom: 5px;

    font-weight: bold;
}

#new-post:hover {
    background-color: rgba(250, 235, 215, 0.836);
}

#search-form {
    padding: 0 6px;
    background-color: var(--clr-primary);
    border: 1px solid var(--clr-secondary);
}

#search {
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
}

#search::placeholder {
    color: var(--clr-secondary);
    font-family: var(--ff-base);
}

.post-preview {
    background-color: var(--clr-primary);
}

#top-button {
    background-color: antiquewhite;
    border-radius: 1em;

    max-width: 200px;

    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 50px;

    font-weight: bold;
}

#top-button:hover {
    background-color: rgba(250, 235, 215, 0.836);
}

.hotbar-new {
    background-image: url("..\images\DSC01400.JPG");
}

.vote-button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    border-color: #1e101d;
    border-style: solid;
    border-width: 1px;
}

#posting-to-convo {
    padding-top: 10px;
    padding-left: 15px;
    font-weight: bold;
}

.horizontal-spacer {
    padding-bottom:10px;
}

.rules {
    padding-left: 15px;
}

#hr1 {
    margin-top: 10px;
    padding-bottom: 20px;
}

#hr2 {
    margin-top: 10px;
    padding-bottom: 10px;
}

#header {
    min-width: 700px;
    max-width: 700px;
    min-height:60px;

    display: flex;

    padding-bottom: 20px;
}

.header-cell {
    min-width: 173.5px;
    border-style:solid;
    padding-top: 13px;
    text-align: center;
    padding-bottom: 10px;
    border-width: 1px;
}

.header-cell-left {
    min-width: 173.5px;
    border-style:solid;
    padding-top: 13px;
    text-align: center;
    padding-bottom: 10px;
    border-width: 1px;

    border-top-left-radius: 3px;

    border-left-width: .1px;
    border-right: transparent;

}

.header-cell-right {
    min-width: 173.5px;
    border-style:solid;
    padding-top: 13px;
    text-align: center;
    padding-bottom: 10px;
    border-width: 1px;

    border-top-right-radius: 3px;

    border-left: transparent;
    border-right-width: .1px;
}

.middle {
    border-right: transparent;
}


.header-cell:hover {
    background-color: var(--clr-accent2)
}

.header-cell-left:hover {
    background-color: var(--clr-accent2)
}

.header-cell-right:hover {
    background-color: var(--clr-accent2)
}

#titlebox {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-radius:5px;
    border-color:#1e101d;
    border-width:1px;
    border-style: solid;
    max-width: 95%;
    max-height: 35px;

    margin-bottom: 10px;

    background-color:antiquewhite;

    margin-left: 50px;
    min-width:585px;

    font: var(--ff-accent);
    font-weight: lighter;
    
}

.center-box {
    margin-right: auto;
    margin-left: auto;
}

#title-text {
    font-weight: lighter;

    padding-left: 15px;
    padding-bottom:2px;
}

#textbox {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-radius:5px;
    border-color:#1e101d;
    border-width:1px;
    border-style: solid;
    max-height: 35px;

    min-height: 150px;
    max-height: 150px;

    background-color: antiquewhite;

    margin-left: 50px;
    min-width: 585px;

    resize: none;

    font: var(--ff-accent);
    font-weight: lighter;
}

#forumbox {
    border-radius:5px;
    border-color:#1e101d;
    border-width:1px;
    border-style: solid;

    background-color:antiquewhite;

    font: var(--ff-accent);
    font-weight: lighter;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}

#body-text {
    font-weight: lighter;
    border-radius:5px;
    border-color:#1e101d;
    border-width:1px;
    max-width: 95%;

    min-height: 350px; 
}

.pill {
    background-color: antiquewhite;
    border-radius: 1em;

    padding-top: .2em;
    padding-bottom: .2em;
    padding-right: 1.5em;
    padding-left: 1.5em;

    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-right: 3px;
    margin-left: 3px;
}

.pill:hover {
    background-color: rgba(250, 235, 215, 0.836);
}

#tags {
    padding-top: 20px;
    padding-left: 15px;
}

.border {
    border-style: solid;
}

.right-align {
    float: right;
    margin-right: 15px;
}

#bottom-box {
    box-sizing: border-box;

    background-color:#aab069;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: var(--clr-secondary);

    min-height: 350px;   
}

#create-post-text {
    font-size: 20px;
}

#choose-community {
    background-color:#aab069;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--clr-secondary);

    margin-bottom: 10px;

    width: 300px;

    padding: 5px 5px 5px 10px;
}

#choose-community-pic {
    border-style: dotted;
    border-radius: 50%;
    border-width: 1px;
    padding: 1px 12px 1px 12px;
    margin-right: 5px;

}

#choose-community-text {
    font-size: 13px;
}