@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');

:root {
    --clr-text: #1e101d;
    --clr-surface: #f0f0f0;
    --clr-primary: #aab069;
    --clr-secondary: #747c38;
    --clr-accent1: #005b4b;
    --clr-accent2: #f2f3cc;

    --ff-base: 'Open Sans', sans-serif;
    --ff-accent: 'Rubik', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

*:focus {
    outline: none;
}

img#logo {
    position: absolute;
    left: -5px;
    height: 140px;
    width: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

body {
    font-family: var(--ff-base);
    color: var(--clr-text);
    line-height: 1.6;

    background: var(--clr-surface);
}

a, a:link , a:visited {
    color: var(--clr-secondary);
    text-decoration: none;
}

.wrapper {
    width: min(100% - 3rem, 65ch);
    margin-inline: auto;
}

.flow > * + * {
    margin-top: 1em;
}

.button {
    font-family: var(--ff-accent);
    border: none;
    background-color: var(--clr-accent);
    color: var(--clr-secondary);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    background-color: var(--clr-primary);
    border-bottom: 3px solid var(--clr-secondary);
}

#profile-subheader {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
    /*padding: 15px; */
    
    padding-left: 10%;
    padding-right: 10%;
    
    background-color: var(--clr-primary);
    border-bottom: 3px solid var(--clr-secondary);
}

.sh-button {
    padding: 15px 15px 5px 15px; 
    font-weight: bold;
}

.sh-button:hover {
    border-style:double;
    border-bottom-color:#1e101d;
}

#search-form {
    padding: 0 6px;
    background-color: var(--clr-primary);
    border: 1px solid var(--clr-secondary);
}

#search {
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
}

#search::placeholder {
    color: var(--clr-secondary);
    font-family: var(--ff-base);
}

a#link-register {
    color: var(--clr-text);
    font-family: var(--ff-base);
    font-size: 16px;
}

button#login-btn {
    color: var(--clr-accent2);
    background-color: var(--clr-accent1);
    font-family: var(--ff-base);
    font-size: 16px;
}

button#login-btn:hover {
    background-color: var(--clr-accent2);
    color: var(--clr-text);
}

button#login-btn:active {
    background-color: var(--clr-accent1);
}

#content-container {
    background-color: var(--clr-primary);
    padding: 1.5em 1em;
}

#filter-container {
    display: flex;
    margin: 10px 0;
}

.filter {
    background-color: var(--clr-accent);
    border-radius: 15%;
    color: var(--clr-secondary);
    padding: 6px 8px;
    margin-right: 2px;
}

#hotbar {
    display: flex;
    align-items: center;
    border-radius: 1%;
    background-color: var(--clr-primary);

    margin-bottom: 10px;
    border-radius: 5px;

    border: 3px solid var(--clr-secondary);

    height: 40px;
    width: 100%;
    min-height: 40px;
    min-width: 545px;

    overflow:hidden;
    resize:none;
}

.hotbar-button {
    font-weight: bold;
    background-color: var(--clr-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 80rm;

    padding: 5px;
    margin: 5px;
    border-radius: 1em;
    border: none;
    outline: none;

    font-family: var(--clr-primary);
    font-size: 14px;
    color: var(--clr-accent2);
}

.hotbar-button:hover {
    background-color: #b4bc5cce;
}

.hotbar-button:active {
    background-color: #b4bc5cce;
}

div#home-main-cont {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
}

div#left-main-cont {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 60%;
}

div#posts-main-cont {
    display: flex;
    flex-direction: column;

    min-height: 550px;
    min-width: 545px;

    border: 3px solid var(--clr-secondary);
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: var(--clr-primary);
}

div.post {
    display: flex;
    margin: 5px;
    height: 90px;
    width: 95%;
    border: 3px solid var(--clr-secondary);
}

img.post-thumbnail {
    height: 80px;
    margin: 2px;
    width: auto;
    border: 1px solid var(--clr-accent2);
}

div#right-main-cont {
    display: flex;
    flex-direction: column;

    margin-left: 20px;
    height: 100%;
    width: 25%;
    border: 3px solid var(--clr-secondary);
    border-radius: 1em;
    padding: 20px;
    background-color: var(--clr-primary);
}




