@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

:root {
    --clr-text: #1e101d;
    --clr-surface: #f0f0f0;
    --clr-primary: #aab069;
    --clr-secondary: #747c38;
    --clr-accent1: #005b4b;
    --clr-accent2: #f2f3cc;

    --ff-base: 'Open Sans', sans-serif;
    --ff-accent: 'Rubik', sans-serif;
}

body {
    background-color: var(--clr-surface);
    color: var(--clr-text);
}

div#login-main-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
}

div#login-header p {
    margin-top: 0px;
    font-family: var(--ff-base);
    font-size: 25px;
}

img#logo {
    height: 180px;
    width: 310px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

div#login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3%;
    width: 380px;
    height: 300px;
    border: 1px solid var(--clr-secondary);
    background-color: var(--clr-primary);
}

div#inputs-container {
    width: 320px;
}

div#forgot-pw-cont {
    display: flex;
    justify-content: right;
    margin-top: 2%;
    padding-bottom: 4%;
}

a#forgot-pw {
    font-size: 14px;
}

div#login-footer {
    margin-top: 5%;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--clr-secondary);
    background-color: var(--clr-primary);

    display: flex;
    justify-content: center;
    align-items: center;
}

div#login-footer p {
    margin-top: 15px;
}

div#login-footer p {
    margin-top: 15px;
}

button#submit-btn {
    background-color: var(--clr-accent1);
}

button#submit-btn:hover {
    background-color: var(--clr-accent2);
    color: var(--clr-text);
}

button#submit-btn:active {
    background-color: var(--clr-accent1);
}