<div id="profile-body">
    <div id="profile-body-left">
        <div id="create-post-text">
            Create a post
        </div>
        <div id="hr1">
            <hr>
        </div>

        <form id="post-form" action="new" method="POST">
            <div id="choose-community">
                <span id="choose-community-pic"></span>
                <input type="text" name="forumbox" id="forumbox" placeholder="Forum">
            </div>
            <div id="bottom-box">
                <div id="hr2">
                    <hr>
                </div>
                    <input type="text" name="titlebox" id="titlebox" placeholder="Title">
                    <br>
                    <textarea type="text" name="textbox" id="textbox" rows = "4" cols = "50" placeholder="Text"></textarea>
                    <div id="hr2">
                        <hr>
                    </div>
                    <input type="submit" class="post pill right-align" value="Post">
            </div>
        </form>
    </div>
    <div id="profile-body-right">
        <div id="profile-box">
            <div id="posting-to-convo" >
                Posting to Convo
            </div>
            <div class="horizontal-spacer center">
                ______________________________________
            </div>
            <div class="rules">
                <div>
                    1. We love potatoes
                </div>
                <div>
                    2. We hate tomatoes
                </div>
                <div>
                    3. Behave.
                </div>
            </div>

        </div>
    </div>
</div>
   